*.pyc
*.pyc
tools/unreal_tools/__pycache__/get_skeletons.cpython-311.pyc
*.pyc
/tools/mcp_servers/the_entire_world_ai_studio/.ai_studio
/tools/.ai_studio
tools/.vscode/settings.json
tools/.project_ai/asset_index.json
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.pyc
tools/utilities/__pycache__/json_data.cpython-39.pyc
tools/utilities/__pycache__/__init__.cpython-39.pyc
tools/unreal_tools/__pycache__/unreal_subprocess.cpython-39.pyc
tools/unreal_tools/__pycache__/unreal_project_data.cpython-39.pyc
tools/unreal_tools/__pycache__/get_skeletons.cpython-311.pyc
tools/unreal_tools/__pycache__/__init__.cpython-39.pyc
tools/unreal_tools/__pycache__/__init__.cpython-311.pyc
*.xml
*.iml
tools/mcp_servers/the_entire_world_ai_studio/.project_ai/asset_index.json
tools/sync_local_depot_to_github.bat
tools/unreal_tools/__pycache__/__init__.cpython-311.pyc
tools/unreal_tools/__pycache__/__init__.cpython-39.pyc
tools/unreal_tools/__pycache__/get_skeletons.cpython-311.pyc
tools/unreal_tools/__pycache__/unreal_project_data.cpython-39.pyc
tools/unreal_tools/__pycache__/unreal_subprocess.cpython-39.pyc
tools/utilities/__pycache__/__init__.cpython-39.pyc
tools/utilities/__pycache__/json_data.cpython-39.pyc
*.jsonl
tools/plugins/AIStudioBridge/.build/output/AIStudioBridge_20260720_1901/HostProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.pch
